/* Footer.css */

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-logo:hover {
    color: #0056b3;
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
  }
  
  .footer-link {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-link:hover {
    color: #007bff;
  }
  
  .footer-socials {
    display: flex;
    gap: 20px;
  }
  
  .footer-social {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-social:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.875rem;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-links {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
  